<div class="container">
    <h2>Add a book to the list</h2>
    <section id="createSectionID">
        <form (ngSubmit)="create()">
            <div class="form-row">
                <label for="createTitle">Title:</label>
                <input type="text" [(ngModel)]="newBook.Title" name="createTitle" required>
            </div>

            <div class="form-row">
                <label for="createISBN">ISBN:</label>
                <input type="number" [(ngModel)]="newBook.ISBN" name="createISBN" required>
            </div>

            <div class="form-row">
                <label for="createSummary">Summary:</label>
                <textarea [(ngModel)]="newBook.Summary" name="createSummary" required></textarea>
            </div>

            <div class="form-row">
                <label for="createAuthor">Author:</label>
                <input type="text" [(ngModel)]="newBook.Author" name="createAuthor" required>
            </div>

            <button type="submit">Add book to list</button>
        </form>
    </section>
</div>
