/* You can add global styles to this file, and also import other style files */
.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  text-align: center;   
}
 h1 {
max-width: 800px;
  margin: 0 auto;  
  padding: 20px;
  text-align: center;
 }

form {
  max-width: 500px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.form-row {
  display: flex;
  align-items: center;
}

label {
  flex: 0 0 100px; 
  margin-right: 8px;
  text-align: right;
}

input, textarea, select {
  flex: 1;
  padding: 6px 8px;
  font-size: 1rem;
}

input, textarea {
  width: 100%; /* Gör input och textarea 100% bredd av sin förälder */
  padding: 8px; /* Lägger till lite utrymme inuti fälten */
  border: 1px solid black; /* Svart kantlinje */
  box-sizing: border-box; /* Inkludera padding och border i elementets bredd och höjd */
  border-radius: 4px; /* Lägg till rundade hörn */
  font-size: 1rem;
}

input:focus, textarea:focus {
  outline: none; /* Ta bort det blå fokuset om du inte vill ha det */
  border-color: #3494fa; /* Ändra kantfärgen vid fokus */
}

button {
  display: block;
  margin: 20px auto;
  padding: 8px 20px;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #4f64da;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
  width: auto;
  max-width: 200px;
}

button:hover {background-color: #f05fc4}

button:active {
  background-color: #5488c4;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

/* Sätt specifik stil för mobil */
@media (max-width: 768px) {
  input, textarea {
    padding: 10px; /* Mer utrymme på mindre skärmar */
  }
}