<div class="container">
    <h2>Update a book via id</h2>
    <section id="updateSectionID">
        <div *ngIf="successMessage" class="success">
        {{ successMessage }}
        </div>
        <div *ngIf="errorMessage" class="error">
        {{ errorMessage }}
        </div>

        <form (ngSubmit)="updateBook()">
            <div class="form-row">
                <label for="id">Put ID here:</label>
                <input type="text" [(ngModel)]="bookId" name="id" (blur)="fetchBook()" required>
            </div>

            <div class="form-row">
                <label for="updateTitle">Title:</label>
                <input type="text" [(ngModel)]="update.Title" name="updateTitle" required>
            </div>

            <div class="form-row">
                <label for="updateISBN">ISBN:</label>
                <input type="number" [(ngModel)]="update.ISBN" name="updateISBN" required>
            </div>

            <div class="form-row">
                <label for="updateSummary">Summary:</label>
                <textarea [(ngModel)]="update.Summary" name="updateSummary" required></textarea>
            </div>

            <div class="form-row">
                <label for="updateAuthor">Author:</label>
                <input type="text" [(ngModel)]="update.Author" name="updateAuthor" required>
            </div>

            <button type="submit">update book</button>
        </form>
    </section>
</div>

