<div class="container">
    <h2>Delete a book via id</h2>
    <section id="deleteSectionID">
        <div *ngIf="successMessage" class="success">
        {{ successMessage }}
        </div>
        <div *ngIf="errorMessage" class="error">
        {{ errorMessage }}
        </div>

        <form (ngSubmit)="deleteBook()">
            <div class="form-row">
                <label for="id">Put ID here:</label>
                <input type="text" [(ngModel)]="bookId" name="id" (blur)="fetchBook()" required>
            </div>

            <div class="form-row">
                <label for="deleteTitle">Title:</label>
                <input type="text" [(ngModel)]="delete.Title" name="deleteTitle" required>
            </div>

            <div class="form-row">
                <label for="deleteISBN">ISBN:</label>
                <input type="number" [(ngModel)]="delete.ISBN" name="deleteISBN" required>
            </div>

            <div class="form-row">
                <label for="deleteSummary">Summary:</label>
                <textarea [(ngModel)]="delete.Summary" name="deleteSummary" required></textarea>
            </div>

            <div class="form-row">
                <label for="deleteAuthor">Author:</label>
                <input type="text" [(ngModel)]="delete.Author" name="deleteAuthor" required>
            </div>
            <button type="submit">delete book</button>
        </form>
    </section>
</div>
